<h1>Your Friend choose to take</h1>
<% if @pending_request.any? %>
  <ul class="list-group">
  <% 2pending_requests.each do |request| %>
  <li class="list-group-item">
  <%= request.friend.name %> tienes solciitud
    <% link_to "Accept", proccess_friend_request_path(user_id: request.friend_id, friend_id: request.user_id, accept:true), method: :post, class: "btn btn-danger btn-sm float-right mr-2" %>
    <% link_to "Reject", proccess_friend_request_path(user_id: request.friend_id, friend_id: request.user_id, reject:true), method: :post, class: "btn btn-danger btn-sm float-right mr-2" %>

  </li>
<% end %>
</ul>
<% else %>
<p> YOu dont have oending </p>
<% end %>